.App {
  text-align: center;
}

.main-panel {
  position: relative;
  float: right;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all .5s cubic-bezier(.685,.0473,.346,1);
  transition: all .5s cubic-bezier(.685,.0473,.346,1);
  background: #f3f3f4;
}

.main-content{
  margin:57px 0px 0px 236px;
  min-height: calc(100vh - 179px);
  background: #f3f3f4;
}

footer{
  margin: 0px 0px 0px 236px;
  background: #fff;
}


.sidebar-mini .sidebar {
  width:80px;
}

.sidebar-mini .main-content{
  margin: 57px 0px 0px 86px;
}

.sidebar-mini footer{
  margin: 0px 0px 0px 86px;
}

.sidebar-mini .nav p{
  display: none;
}

.navbar-brand {
  margin-left: .6rem;
}

.navbar-brand img{
  margin-right: .5rem;
}

@media (max-width: 991px){

  .main-content{
    margin: 57px 0px 0px 0px
  }

  footer{
    margin: 0px 0px 0px 0px;
  }

  .sidebar-mini .main-content{
    margin: 57px -9px 0px 0px;
  }

  .sidebar-mini footer{
    margin: 0px -9px 0px 0px;
  }

  .nav-open .main-content{
    left: 0;
    transform: translate3d(-260px, 0, 0);
  }

  .nav-open footer{
    left: 0;
    transform: translate3d(-260px, 0, 0);
  }

  .nav-open.sidebar-mini .main-content{
    left: 0;
    transform: translate3d(-90px, 0, 0);
  }

  .nav-open.sidebar-mini footer{
    left: 0;
    transform: translate3d(-90px, 0, 0);
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }

  .nav-open.sidebar-mini #bodyClick {
    right: 80px;
  }
}